* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-family: monospace;
}

body {
    background-image: url('../assets/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.upper {
    position: relative;
    height: 20rem;
    background-color: #05a6af91;
    border: #95a08f inset 3px;
    margin-bottom: 3%;
}

.title {
    margin: auto;
    text-align: center;
}

.lvl-select {
    position: absolute;
    top: 20%;
    left: 46%;
    /* width: 13ch; */
    font-size: 2rem;
}

.lvl-select span {
    display: inline-block;
    width: 15ch
}

.radios {
    width: 10ch;
}

.easy {
    color: #043a3d;
}

.medium {
    color: yellow
}

.hard {
    color: red;
}

.board-container {
    margin: auto;
    min-height: 45rem;
    min-width: 45rem;
}

.cell {
    height: 5%;
    width: 5%;
    text-align: center;
    background-color: #058e95d7;
    font-weight: 700;
    padding: 0;
    transition: background-color 0.9s;
}

.hidden:hover {
    background-color: #086c72d7;
}

.cell.easy {
    font-size: 1.25rem;
}

.hidden {
    border: 0.5rem outset #95a08f;
    background-color: #058e95d7;
    cursor: pointer;
}

input {
    cursor: pointer;
}

.shown {
    border: 5px inset #95a08f;
    background-color: rgb(4 81 104 / 91%)
}

.marked {
    background: no-repeat center center / 25% url('../assets/flag.png'), #058e95d7;
}

.mine {
    background: no-repeat center / 50% url('../assets/mine.png'), red;
}

.modal {
    position: absolute;
    height: 50%;
    width: 50%;
    text-align: center;
    background-color: rgb(4 81 104 / 91%);
    border-radius: 10px;
    top: 39%;
    left: 23%;
    transition: all 1s;
    line-height: 10rem;
}

.game-over,
.win-text-display {
    display: block;
    font-weight: 600;
    font-size: 3em;
}

.time-display {
    font-size: 2rem;
    width: 10ch;
    text-align: center;
}

.final-time {
    position: relative;
    left: 5%;
    width: 24ch;
    line-height: 4rem;
    font-size: 2rem;
}

.lives {
    /* position: absolute; */
    float: right;
    /* float: top; */
    /* top: 150px */
}

.lives span {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/heart.png)
}

.smiley {
    cursor: pointer;
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    margin: auto;
    height: 5rem;
    width: 5rem;
    border: 5px inset #95a08f;
    background-color: #075c61be
}

.hints {
    cursor: pointer;
}

.hints span {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/hint.png)
}

.leaderboard {
    height: 50%;
    width: 35ch;
    border: 5px inset #95a08f;
    position: absolute;
    top: 30%;
    left: 6%;
    background-color: rgb(4 81 104 / 91%);
}

.leaderboard span {
    color: black;
    font-weight: 600;
    font-size: 2rem;
    display: block;
}

.leaderboard .easy {
    border: 1px solid black;
    font-size: 2rem;
}

.leaderboard .medium {
    font-size: 2rem;
    border: 1px solid black;
}

.leaderboard .hard {
    font-size: 2rem;
    border: 1px solid black;
}

.leaderboard .scores {
    color: black;
    /* display: inline-block;  */
    font-weight: 600;
    font-size: 2rem;
    width: 1ch;
    margin: 0;
}

.safe-click,
.undo,
.mines-left {
    position: relative;
    top: 25%;
    float: right;
    /* border: 1px solid black; */
    font-size: 2rem;
    cursor: pointer;
    width: 17ch;
    text-align: center;
    background-color: rgb(4 81 104 / 91%);
    border: 0.5rem outset #95a08f;
    transition: all 0.8s
}

.undo:hover {
    background-color: rgb(4, 64, 82);
}

.mines-left {
    cursor: initial;
}

.safe-click:hover {
    background-color: rgb(4, 64, 82);
}

.start-game {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 1%;
    left: 1%;
    background-color: rgba(5, 108, 139, 0.91);
    border: 0.5rem outset #95a08f;
    height: 20%;
    font-size: 2rem;
}