* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    font-family: monospace;
}

body {
    background-image: url('../assets/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.upper {
    position: relative;
    height: 20rem;
    background-color: #05a6af91;
    border: #95a08f inset 3px;
    margin-bottom: 3%;
}

.title {
    margin: auto;
    text-align: center;
}

.lvl-select {
    position: absolute;
    top: 20%;
    left: 46%;
    /* width: 13ch; */
    font-size: 2rem;
}

.lvl-select span {
    display: inline-block;
    width: 15ch
}

.radios {
    width: 10ch;
}

.easy {
    color: #09ea12;
}

.medium {
    color: yellow
}

.hard {
    color: red;
}

.board-container {
    margin: auto;
    min-height: 45rem;
    min-width: 45rem;
}

.cell {
    height: 5%;
    width: 5%;
    text-align: center;
    background-color: #058e95d7;
    font-weight: 700;
    padding: 0;
    transition: background-color 0.9s;
}

.hidden:hover {
    background-color: #086c72d7;
}

.cell.easy {
    font-size: 1.25rem;
}

.hidden {
    border: 0.5rem outset #95a08f;
    background-color: #058e95d7;
    cursor: pointer;
}

input {
    cursor: pointer;
}

.shown {
    border: 5px inset #95a08f;
    background-color: rgb(4 81 104 / 91%)
}

.marked {
    background: no-repeat center center / 25% url('../assets/flag.png'), #058e95d7;
}

.mine {
    background: no-repeat center / 50% url('../assets/mine.png'), red;
}

.modal {
    position: absolute;
    text-align: center;
    background-color: rgb(4 81 104 / 91%);
    border-radius: 10px;
    transition: all 1s;
}

.game-over {
    font-size: 2rem;
    line-height: 10rem;
    right: 0;
    bottom: 1%;
    height: 50%;
    width: 32%;
}

.rules {
    top: 27%;
    font-size: 1.5rem;
}

.text-display {
    display: block;
    font-weight: 600;
    font-size: 2em;
}

.live-mines-display,
.live-time-display {
    font-size: 3rem;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.live-mines-display {
    right: 0;
    width: 11ch;
}

.live-time-display {
    width: 10ch;
    /* font-family: 'Orbitron', sans-serif; */
}

.final-time {
    position: relative;
    left: 5%;
    width: 24ch;
    line-height: 4rem;
    font-size: 2rem;
    /* font-family: 'Orbitron', sans-serif; */
}

.smiley {
    cursor: pointer;
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    margin: auto;
    height: 5rem;
    width: 5rem;
    border: 5px inset #95a08f;
    background-color: #075c61be
}

.hints,
.lives {
    position: absolute;
}

.hints {
    left: 37%;
    cursor: pointer;
}

.lives {
    left: 52%;
}

.lives span,
.hints span {
    display: inline-block;
    height: 5rem;
    width: 5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.leaderboard {
    height: 50%;
    width: 21ch;
    border: 5px inset #95a08f;
    position: absolute;
    top: 26.7%;
    left: 0;
    background-color: rgb(4 81 104 / 91%);
    font-size: 2rem;
    border-radius: 10px;
}

.leaderboard span {
    color: black;
    font-weight: 600;
    font-size: 2rem;
    display: block;
}

.safe-click,
.undo,
.mines-left,
.start-game {
    position: absolute;
    right: 0;
    float: right;
    margin: 0;
    font-size: 2rem;
    cursor: pointer;
    width: 17ch;
    text-align: center;
    background-color: rgb(4 81 104 / 91%);
    border: 0.5rem outset #95a08f;
    transition: all 0.8s;
    border-radius: 15px;
}

.safe-click:hover,
.undo:hover,
.start-game:hover,
.show-rules:hover {
    background-color: rgb(4, 64, 82);
}

.safe-click {
    top: 101.4%;
}

.undo {
    top: 131.6%;
    float: right;
}

.mines-left {
    cursor: initial;
    top: 149%;
}

.start-game {
    display: none;
    top: 178.9%;
}

.show-rules {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    border: 0.5rem outset #95a08f;
    border-radius: 15px;
    background-color: rgb(4 81 104 / 91%);
    transition: all 0.8s;
}

p {
    margin: 0;
}